.btn_primary {
  background-color: #f6fa70;
  color: #000;
  border-radius: 100px;
  padding: 12px 35px;
  font-size: 16px;
  font-weight: bold;
}
// .btn {
//   @apply rounded-full text-white font-medium;
// }
// .btn-sm {
//   @apply h-[48px] px-6 text-sm;
// }
// .btn-lg {
//   @apply h-[56px] px-10 text-base;
// }
// .btn-link {
//   @apply text-base;
// }
