.main_banner {
  .banner_content {
    display: flex;
    column-gap: 1.5rem; /* 24px */
    align-items: center;

    .banner_info {
      flex: 1 1 0%;
      text-align: left;

      .title {
        font-size: 80px;
        font-family: 'Kanit', 'Noto Sans KR', sans-serif;
        text-transform: uppercase;
        line-height: 1.5;
      }

      .greetings {
        font-size: 40px;
        font-family: 'Kanit', 'Noto Sans KR', sans-serif;
        margin-bottom: 1.5rem; /* 24px */
        text-transform: uppercase;
        line-height: 1;
        font-weight: 600;
      }

      .ani_text {
        color: var(--color-accent);
        font-size: 50px;
      }

      .text {
        margin-bottom: 2rem; /* 32px */
        color: var(--color-text-light);
      }
    }

    .banner_avatar {
      flex: 1 1 0%;
    }
  }
}

@media (max-width: 960px) {
  .banner_avatar {
    display: none;
  }
}

@media (max-width: 768px) {
  .banner_content {
    flex-direction: column;

    .banner_info {
      text-align: center;

      .title {
        font-size: 55px;
      }
      .greetings {
        font-size: 36px;
      }
      .buttons {
        justify-content: center;
      }
      .social_links {
        justify-content: center;
      }
    }
  }
}
