.project_content {
  display: flex;
  align-content: space-between;
  flex-direction: column;

  .other_projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .project_content {
    .other_projects {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 640px) {
  .project_content {
    .other_projects {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
