@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-background);
  background-image: url(/public/assets/bg.svg);
  font-family: 'Noto Sans KR', '맑은 고딕', sans-serif;
  font-size: 18px;
  line-height: 2rem; /* 32px */
  color: var(--color-text);
}

@layer base {
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#ff56f6] font-bold hover:from-[#ff56f6] hover:to-[#42a6e3];
  }
}
